<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <CodeEditor.Properties.Settings>
            <setting name="DefaultFolderDir" serializeAs="String">
                <value>DOCUMENTS/Code-Editor/</value>
            </setting>
            <setting name="PreviousWindow" serializeAs="String">
                <value />
            </setting>
        </CodeEditor.Properties.Settings>
    </userSettings>
</configuration>